VITE_AUTH_API_URL=http://localhost:3005
VITE_CORE_API_URL=http://localhost:3007
VITE_NOTIFICATION_API_URL=http://localhost:3008
VITE_NOTIFICATION_SOCKET_URL=http://localhost:3008
VITE_CMS_API_URL=http://localhost:3009
VITE_CMS_SOCKET_URL=http://localhost:3009
VITE_AI_API_URL=http://localhost:3010
VITE_AI_SOCKET_URL=http://localhost:3010
VITE_API_DEVICE_INFO=
VITE_API_CORE=
VITE_API_CORE_SERVICE=http://localhost:3007
VITE_API_MEDICAL_MANGEMENT=
VITE_VAPI_PUBLIC_KEY=
VITE_VAPI_ASSISTANT_ID=
